<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ConfigTest</display-name>
   <servlet>
    <description></description>
    <display-name>SelectServlet</display-name>
    <servlet-name>SelectServlet</servlet-name>
    <servlet-class>com.sathya.servlet.SelectServlet1</servlet-class>
    <init-param>
      <description></description>
      <param-name>driver</param-name>
      <param-value>oracle.jdbc.driver.OracleDriver</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>url</param-name>
      <param-value>jdbc:oracle:thin:@localhost:1521:XE</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>username</param-name>
      <param-value>system</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>password</param-name>
      <param-value>tiger</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectServlet</servlet-name>
    <url-pattern>/selectsrv</url-pattern>
  </servlet-mapping>
  </web-app>
  
   